body {
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
    padding: 10px
}

#intro-container {
    border-bottom: 1px solid #444;
    margin-bottom: 20px
}

#intro-wrapper {
    width: 50%;
    display: inline-block
}

#intro {
    padding: 0px 10px
}

#input-wrapper {
    text-align: right;
    float: right;
    width: 50%
}

#input {
    border-left: 1px solid #444;
    padding: 0px 10px
}

.trim-top-margin {
    margin-top: 0px
}

#file-select {
    width: 100%;
    margin-bottom: 10px
}

#results {
    width: 100%
}

.analytics-entry {
    border: 1px solid #555;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 10px;
    overflow: hidden
}

.entry-header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 10px
}

.analytics-content {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    transition: height 0.2s;
    transition-timing-function: ease;
    overflow: hidden;
}

.analytics-content.active {
	height: 100%
}

footer {
    align-self: center;
    text-align: center;
    font-size: 60% 
}